
//- .wrapper
//-   section.hero#inicio
//-     .hero__container
//-       .hero__container--title
//-         h2 ¿Cansado de esperar un buen servicio?
//-       .hero__container--content
//-         p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.


