.wrapper
  section.hero#inicio
    .hero__container
      .hero__container--logo
      .hero__container--title
        h2 ¿Cansado de esperar un buen servicio?
      .hero__container--content
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
  section.main
    .caracteristicas
      .caracteristicas__btnTiendas
        .caracteristicas__btnTiendas_content
          .appstore
            //- p prueba
          .playstore
            //- p prueba2
      .caracteristicas__info
        .programa
          .icono
            //- img(src="/public/images/programa.png")
          .titulo
            h4 No mas afanes de ultima hora
          .texto
            p Con TAPXI, programas y separas tu servicio para el momento justo que lo necesites, así dejarás la carrera en nuestras manos.
        .tiempo
          .icono
          .titulo
            h4 Ahora el tiempo está a tu favor
          .texto
            p Contamos con un excelente sistema de petición y respuesta de servicio, ahora la respuesta es en el momento justo.
        .amigable
          .icono
          .titulo
            h4 Una experiencia amigable
          .texto
            p Encontrarás una forma agradable de navegar y usar TAPXI, sin complicaciones de uso y con una facil navegación.
    .invitacion
      .invitacion__container
        .invitacion__titulo
          h2 Ahora tienes un TAPXI En tu mano
        .invitacion__textos
          .invitacion__textos--resalte
            h4 Tecnología y seguridad en una sola Aplicación
          .invitacion__textos--contenido
            p Viaja con toda tranquilidad, nuestro servicio esta monitoreado y cuenta con apoyo de seguridad.
        .invitacion__btn
          .invitacion__btn--registro
          .invitacion__btn--texto
            p regístrate ahora!
    .conductor
      .conductor__titulo
        h2 ¿Eres conductor y quieres ofrecer un mejor servicio?
      .conductor__contenido
        p Nuestra APP ofrece excelentes beneficios, más clientes satisfechos, mayor alcance del servicio, efectividad en localización y radio de ubicación inteligente.
        p presta el servicio de manera segura desde este momento, contamos con monitoreo de red conectado a la central de la Policia Nacional y la red local de las empresas de transporte afiliadas .
      .conductor__btn
        .conductor__btn--registro
        .conductor__btn--texto
          p Contáctate
    .descarga
      .descarga__container
        .descarga__titulo
          h2 Descarga y empieza a disfrutar ahora el mejor servicio !
        .descarga__contenido
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        .descarga__botones
          .descarga__botones_content
            .appstore
            .playstore
    .contacto
      .titulo
        h2 ¿Necesitas más información?
      .formulario
        form(id="form" action="#")
          .inputBox
            label Nombre Completo (*)
            input(type="text", required="required" class="entrada")

          .inputBox
            label Email (*)
            input(type="email", required="required" class="entrada")

          .inputBox
            label Empresa (**)
            input(type="text" class="entrada")

          .inputBox
            label No. Interno (**)
            input(type="text" class="entrada")

          .inputBox
            input(type="submit", value="Enviar" class="btnEnviar")
        .note
          p (*) Campos obligatorios
          p (**) En caso de ser conductor

  section.piePagina
    //- .nota
    //-   p Todos los derechos reservados
    .logo
