.wrapper{
  // background-color: rebeccapurple;
  height: 80vh;
  background-image: url("/public/images/320.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

    .hero{

    // background-color: olive;
      &__container{
        height: 100%;
      // background-color: blue;

      &--title{
        padding: 1.5rem 0 0 0 ;
        h2{
          // background-color: palegreen;
          color: $baseredes;
          // padding-left: 2px;
          // margin: 2rem 0 0 0;
          text-align: center;
        }
      }
      &--content{
        // background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding-bottom: -1rem;
        p{
          // background-color: lawngreen;
          text-align: justify;
        }
      }
    }
  }
}


// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ================================================================
// ======================= 320 => 479 ===========================
// ================================================================
@include mQ(xsS){

}
// ================================================================
// ======================= 480 => 599 ===========================
// ================================================================
@include mQ(smallS){

}
// ================================================================
// ======================= 600 => 759 ===========================
// ================================================================
@include mQ(mediumS){
  .wrapper{
    // background-color: rebeccapurple;
    height: 80vh;
    background-image: url("/public/images/320.png");

      .hero{

      // background-color: lightblue;
        &__container{
          // height: 100%;
        // background-color: blue;

        &--title{
          padding: 2rem 0 0 0 ;
          h2{
            // background-color: palegreen;
          }
        }
        &--content{
          // background-color: orange;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          // padding-bottom: -1rem;
          p{
            // background-color: lawngreen;
            // text-align: justify;
          }
        }
      }
    }
  }
}
// ================================================================
// ======================= 760 => 919 ===========================
// ================================================================
@include mQ(wideS){

}
// ================================================================
// ======================= 920 => 1199 ===========================
// ================================================================
@include mQ(largeS){

}
// ================================================================
// ======================= 1200 => 1399 ===========================
// ================================================================
@include mQ(xlS){

}
// ================================================================
// ======================= 1400 =>  ===========================
// ================================================================
@include mQ(opS){

}

